.tb-selected {
  background: #eeeeee !important;
  color: #000000;
}

.editable-click,
.editable-click:hover {
  color: #333333;
}

.editable-empty,
.editable-empty:hover {
  color: red;
}

.dataTables_filter {
  display: none;
}

table td {
  white-space: nowrap;
}
